fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-huggingface
PyPDF2
faiss-cpu
streamlit
tenacity
sentence-transformers
python-multipart
greenlet
aiosqlite
pyjwt
bcrypt